@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

body {
    font-family: 'Merienda', cursive;
    font-size: 15px;
    padding: 10px 10px;
    margin: 0;
    line-height: 1.5;
}
#background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
}
#navbar {
    color: rgb(190, 140, 236);
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}


@media (max-width: 800px) {
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}